extends layout

block content
  h2.page-header Log-in
  p Please Log-in below.
  form(action="post", method="/users/register", enctype="multipart/form-data")
    .form-group
      label User Name
      input.form-control(name='username', type='text', placeholder='Enter your User Name, please.')
    .form-group
      label Password
      input.form-control(name='password', type='password', placeholder='Enter your Password, please.')
    input.btn.btn-primary(type='submit', name='submit', value='Log-in')
