body {
  /* padding: 50px;  */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  width: 65%;
}

.form-control::after {
  content: "*";
  color: pink;
  font-size: 10px;
  font-style: italic;
}

.success > li {
    width: 50%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4p‘
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.error > li {
    width: 50%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4p‘
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

ul.nav.navbar-nav > li {
    border-top: 2px solid black;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}

ul.nav.navbar-nav > li.active {
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}